
/* Interaction states
----------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid $container-border;
  background: $button-bg-color;
  font-weight: bold;
  color: $highlight-color;
}

.ui-state-default a {
  color: $highlight-color;
  text-decoration: none;
  &:link, &:visited {
    color: $highlight-color;
    text-decoration: none;
  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid $highlight-color;
  background: $highlight-color;
  font-weight: bold;
  color: $highlight-text-color;
}

.ui-state-hover a {
  color: $state-hover-text;
  text-decoration: none;
  &:hover, &:link, &:visited {
    color: $state-hover-text;
    text-decoration: none;
  }
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid $container-border;
  background: $state-active-bg;
  font-weight: bold;
  color: $state-active-text;
}

.ui-state-active a {
  color: $notification-color;
  text-decoration: none;
  &:link, &:visited {
    color: $notification-color;
    text-decoration: none;
  }
}

/* Interaction Cues
----------------------------------*/

.ui-state-disabled {
  cursor: default !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid $state-highlight-border;
  background: $state-highlight-bg;
  color: $container-text;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: $container-text;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid $state-error-border;
  background: $state-error-bg;
  color: $state-error-text;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: $state-error-text;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  @include opacity(.7);
  font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  @include opacity(0.35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  @include opacity(0.35);
  /* For IE8 - See #6059 */
}
