.ui-tabs {
  position: relative;
  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
  .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
    li {
      list-style: none;
      float: left;
      position: relative;
      top: 0;
      margin: 1px .2em 0 0;
      border-bottom-width: 0;
      padding: 0;
      white-space: nowrap;
      a {
        float: left;
        padding: .5em 1em;
        text-decoration: none;
      }
      &.ui-tabs-active {
        margin-bottom: -1px;
        padding-bottom: 1px;
        a {
          cursor: text;
        }
      }
      &.ui-state-disabled a, &.ui-tabs-loading a {
        cursor: text;
      }
      a {
        cursor: pointer;
      }
    }
  }
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
