
/* Component containers
----------------------------------*/

.ui-widget {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  .ui-widget {
    font-size: 1em;
  }
  input, select, textarea, button {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
  }
}

.ui-widget-content {
  border: 1px solid $container-border;
  background: $container-body;
  color: $container-text;
  a {
    color: $container-text;
  }
}

.ui-widget-header {
  border: 1px solid $container-border;
  background: $container-header;
  color: $container-text;
  font-weight: bold;
  a {
    color: $container-text;
  }
}
