@import 'compass';

$success: #85c663;
$tint-grey: #fcfcfc;
$grey-border: #f9f9f9;

$text-color: #fff !default;
$base-color: #222 !default;
$icon-color: hsl( hue( $base-color ), 7%, 95% ) !default;
$highlight-color: #0074a2 !default;
$notification-color: #d54e21 !default;


$highlight-text-color: #fff;

$button-bg-color: #f7f7f7;

// jQuery UI
$container-border: #dddddd;
$container-text: #444444;
$icon-grey: #666666;
$container-header: #f1f1f1;
$container-body: #ffffff;
$overlay-bg: #000;